<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-zijie-passwordChecker" version="0.0.1" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>PasswordChecker</name>
    <js-module name="PasswordChecker" src="www/PasswordChecker.js">
        <clobbers target="PasswordChecker" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="PasswordChecker">
                <param name="ios-package" value="PasswordChecker" />
            </feature>
        </config-file>
        <source-file src="src/ios/PasswordChecker.h" />
        <source-file src="src/ios/PasswordChecker.m" />
    </platform>
</plugin>